<h4>
<a class="anchor-special"
   kind="{{{entityKind}}}"
   name="{{{nameNoPrefix}}}"
   id="{{>heading-id}}"
   url="{{>heading-url}}">
   {{>module-member-name}}
</a>
{{#if (equal kind 'class')~}}<a href="{{>module-member-heading-url}}"> -></a>{{/if~}}
{{#if (equal kind 'namespace')~}}<a href="{{>module-member-heading-url}}"> -></a>{{/if~}}
</h4>