{{#modules~}}
<div class="ui accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    {{>link}}
  </div>
  <div style="position: relative !important;left: 0px !important;" class="content description">
  {{{md (inlineLinks description)}}}
  </div>
</div>
{{/modules}}